@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: rem(50px);
    font-weight: 900;
    font-family: 'Roboto', sans-serif;

   
}


.landingPageContent {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 200px; 
    height: auto;
    margin-bottom: 2rem;
  }
  .subtitle {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.25rem; 
  }
  
  .paper {
    width: 150%;
    max-width: 1000px;
    padding: 2rem; 
  }